<h1 align="center">Welcome to <%= @type.name %>'s page</h1>
<div align="center">
	<div class="row">
		<span class="badge"><%= link_to "Update Product Type", edit_type_path(@type) %></span>
	</div>
</div>