<h1 align="center">Welcome to <%= @designation.name %>'s page</h1>
<div align="center">
	<div class="row">
		<span class="badge"><%= link_to "Update Designation Name", edit_designation_path(@designation) %></span>
	</div>
</div>
