<h1 align="center">Welcome to <%= @group.name %>'s page</h1>
<div align="center">
	<div class="row">
		<span class="badge"><%= link_to "Update Group Name", edit_group_path(@group) %></span>
	</div>
</div>
