<h1 align="center">Welcome to <%= @department.name %>'s page</h1>
<div align="center">
<div class="row">
	<span class="badge"><%= link_to "Update Department Name", edit_department_path(@department) %></span>
</div>
</div>
