<div class="panel panel-default">
  <div class="panel-heading center"><strong>Assigned Equipments</strong></div>
    <table class="table">
    	<thead>
    		<th>Inventory<br>Number</th>
    		<th>Product<br>Description</th>
    		<th>Product</th>
    		<th></th>
    		<th></th>
    	</thead>
    </table>
</div>