<h1 align="center">Welcome to <%= @brand.name %>'s page</h1>
<div align="center">
	<div class="row">
		<span class="badge"><%= link_to "Update Brand Name", edit_brand_path(@brand) %></span>
	</div>
</div>
