<h1 align="center">Welcome to <%= @product.name %>'s page</h1>
<div align="center">
	<div class="row">
		<span class="badge"><%= link_to "Update Product", edit_product_path(@product) %></span>
	</div>
</div>